@model PropertyListingViewModel
@{
    ViewData["Title"] = "All Homes";
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-primary" asp-action="Add">Add Home</a>
</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Picture</th>
            <th>RoomType</th>
            <th>Space</th>
            <th>City</th>
            <th>Section</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var home in Model.Properties)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@home.Id">@home.Title</a>
            </td>
            <td>
                <img width="200" src="data:image/png;base64,@(home.MainImage != null ? Convert.ToBase64String(home.MainImage) : string.Empty)" alt="@home.Title" />
            </td>
            <td>
                @home.RoomType
            </td>
            <td>
                @home.Space
            </td>
            <td>
                @home.CityName
            </td>
            <td>
                @home.SectionName
            </td>
            <td>
                @home.Price
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@home.Id">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@home.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

